{% load static %}
<div id="m_footer">
	<div class="footer_btn">
		<span><a href="{% url 'accounts:logout' %}">로그아웃</a></span>
		<span><a href="{% url 'promotions:index' 'partner' %}">파트너쉽</a></span>
		<span><a href="https://open.kakao.com/o/gBOQOpMb" target='_blank'>채팅방</a></span>
		<span class="gotop"><a href="#"><i class="fas fa-arrow-up"></i> TOP</a></span>
	</div>
	<ul>
		<li><a href="#">&copy; 위고컴퍼니 </a></li><br/>
		<li><a href="#">wegocebu@gmail.com</a></li>
		<li><a href="#">070-4186-2446</a></li>
	</ul>
</div>
<footer>
	<div class="footer_warp center">
		<div class="footer_logo">
			<a href="{% url 'pages:index' %}"><img src="{% static 'images/common/logo.png' %}" alt="위고세부 로고"></a>
		</div><!-- footer_logo -->
		<div class="footer_navlist">
			<div class="footer_nav">
				<ul>
					<li><a href="{% url 'centers:partnership' %}">파트너쉽</a></li>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보취급방침</a></li>
				</ul>
			</div><!-- footer_nav -->
			<div class="footer_info">
				<ul>
					<li>
						<span><span class="sound_only">업체명</span>위고컴퍼니</span>
						<span><span class="sound_only">업체명</span>위고세부</span>
						<span><span class="sound_only">이메일</span>wegocebu@gmail.com</span>
						<span><span class="sound_only">전화번호</span>070-4186-2445</span>
						<span>대표 : 이선구</span>
						<span><span class="sound_only">사업자번호</span>157-11-01368</span>
					</li>
					<li>
						<span>서울 강남구 테헤란로 109 제일빌딩 402호</span>
					</li>
				</ul><!-- footer_navlist -->
			</div><!-- footer_info -->
		</div><!-- footer_navlist -->
	</div><!-- footer_warp -->
</footer>
<script type="text/javascript">
	/*메세지박스 새창 한가운데 띄우기 */
	function openWinCenter(url, wname, wopt) {
		var newopt = "", wHeight = 0, wWidth = 0;
		if (wopt != undefined) {
			var woptlist = wopt.replace(/ /g, "").split(",");
			for (var i in woptlist) {
				if (woptlist[i].match(/^height=/i)) {
					wHeight = parseInt(woptlist[i].substr(7),10);
					if (!isNaN(wHeight)) newopt += "top=" + Math.floor((screen.availHeight - wHeight) / 2) + ",";
				}
				if (woptlist[i].match(/^width=/i)) {
					wWidth = parseInt(woptlist[i].substr(6),10);
					if (!isNaN(wWidth)) newopt += "left=" + Math.floor((screen.availWidth - wWidth) / 2) + ",";
				}
			}
		}
		return window.open(url, wname, newopt + wopt);
	}
</script>
