{% load static %}

<meta name="description" content="국내 최대 필리핀 세부 자유여행 커뮤니티 '위고세부'.
실시간 후기와 세부맛집,막탄맛집,호핑투어,리조트,항공권,세부여행 등의 정보저장소!">
<link rel="canonical" href="http://www.wegocebu.com">
<link rel="shortcut icon" href="{% static 'images/main/favicon.ico' %}" type="image/x-icon" />
<link rel="icon" href="{% static 'images/main/favicon.ico' %}" type="image/x-icon" />

<meta property="og:type" content="website">
<meta property="og:title" content="위고세부 WEGO - 세부 자유여행 커뮤니티">
<meta property="og:description" content="국내 최대 필리핀 세부 자유여행 커뮤니티 '위고세부'.
실시간 후기와 세부맛집,막탄맛집,호핑투어,리조트,항공권,세부여행 등의 정보저장소!">
<meta property="og:image" content="{% static 'images/logo_ref.png' %}">
<meta property="og:url" content="http://www.wegocebu.com">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="위고세부 WEGO - 세부 자유여행 커뮤니티">
<meta name="twitter:description" content="세부 자유여행을 가는 여행자들을 위한 커뮤니티">
<meta name="twitter:image" content="{% static 'images/logo_ref.png' %}">
<meta name="twitter:domain" content="http://www.wegocebu.com">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155078943-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-155078943-1');
</script>
