{% load static %}
<div class="quick_menu quick_menu_left">
    <ul>
        <!-- <li><a href="#" target="_blank"><img src="{% static 'images/common/main_22.png' %}" alt="단톡방"></a></li> -->
        <li><a href="https://kr.trip.com/" target="_blank"><img src="{% static 'images/common/main_23.png' %}" alt="트립닷컴"></a></li>
        <li><a href="{% url 'centers:wego_roulette' %}" target="_blank"><img src="{% static '/images/dg/main_41.png' %}" alt="룰렛"></a></li>
        <li><a href="#" target="_blank"><img src="{% static 'images/common/main_52.png' %}" alt="네일아트"></a></li>
    </ul>
</div>
