{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="naver-site-verification" content="2d0a03ebb77fac1b492f1b295cece15301c9308a"/>
	{% include "pages/_meta.html" %}

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="{% static 'dist/css/swiper.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/dg.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400&amp;subset=korean" rel="stylesheet">

	<!-- Script -->
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

	<!-- Swiper JS -->
	<script src="{% static 'dist/js/swiper.min.js' %}"></script>

	{% block header %}{% endblock %}

</head>
<body>
		{% if messages %}
			{% for message in messages %}
				<script>alert('{{ message }}');</script>
			{% endfor %}
		{% endif %}
    <!-- Header -->
    {% include "pages/_header.html" %}
    <!-- Content -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    {% include "pages/_footer.html" %}
</body>
</html>
