{% load static %}
{% load humanize %}
<html>
<head>
	<title>세부문화 현지인 - 위고세부</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/messagebox.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300&amp;subset=korean" rel="stylesheet">
	<script>
		$(function(){
			$('ul.msg_tab > li').eq(0).addClass('selected');
			$('.msg_tab_con').hide();
			$('.msg_tab_con').eq(0).show();
			$('ul.msg_tab > li').click(function(){
				$('ul.msg_tab > li').removeClass('selected');
				$(this).addClass('selected');
				$('.msg_tab_con').hide();
				$('.msg_tab_con').eq($(this).index()).show();
					return false;
			});
		});
	</script>
</head>
<body scrolling="no">
<!-- 에러메세지 -->
{% if messages %}
	{% for message in messages %}
		<script>alert('{{ message }}');</script>
	{% endfor %}
{% endif %}
<!-- 쪽지함 목록 시작 { -->
<div id="msg" class="msg_skin">
    <h1 id="msg_title">{{user.username}}님의 메세지함
			<a href="{% url 'msgboxs:search' %}" class="add_user"><i class="fas fa-user-plus"></i></a>
			<a href="#" class="msg_close"><i class="fas fa-times"></i></a>
		</h1>
	<div class="view-cont-header">
		<a href="{% url 'msgboxs:index' 'message' %}" class="btn-back"><i class="fas fa-chevron-left"></i></a>
		<span class="thum"><img src="{{send_user.profile_image}}" alt="내 썸네일"></span>
		<span class="to_name">{{send_user.username}}<!--<span class="date">03. 14</span>--></span>
	</div>
</div>
<div class="view-cont">
	{% for room in rooms %}
		{% if room.send_user == user %}
		<!-- 받은 메세지 -->
		<div id="chat_{{room.id}}">
			<div style="display:inline-flex;">
				<span class="thum"><img src="{{send_user.profile_image}}" alt="내 썸네일"></span>
				<span class="to_name">{{room.from_user.username}}<span class="date">{{room.upload_date|date:"M j일 D"}}</span></span>
			</div>
			<div class="msg_box">
				<!-- <span class="img"><img src="{% static 'images/common/coupon.png' %}" alt="내 썸네일"></span> -->
				{{room.content|linebreaks }}
				<div class="msg_infor">
					<span class="msg_time">{{room.upload_date|date:"a f"}}</span>
					<span><i class="fas fa-thumbtack"></i></span>
				</div>
			</div>
		</div>
		{% else %}
		<!-- <div class="data_line"><span>2019년 06월 25일 화요일</span></div> -->
		<!-- 보낸 메세지 -->
		<div id="chat_{{room.id}}">
			<div class="msg_box msg_box_send">
				<div class="whether_read">
					<!-- <span class="read">읽음</span> -->
					<!-- <span class="no_read">안읽음</span> -->
				</div>
				<div class="msg_infor">
					<!-- <span><i class="fas fa-thumbtack"></i></span> -->
					<!-- 쪽지삭제 -->
					<span><button onclick="javascript:delete_content({{room.id}})"><i class="fas fa-times-circle"></i></button></span>
					<span class="msg_time">{{room.upload_date|date:"a f"}}</span>
				</div>
				{{room.content|linebreaks }}
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>
<div id="msg_write_wrap" class="write_wrap">
	<form action="{% url 'msgboxs:create' %}" method="POST">
		{% csrf_token %}
		<div id="msg_write">
			<div class="form">
				<div class="input_txt">
					<textarea name="content" id="chat_cmt" placeholder="쪽지발송시 {{point.point|intcomma}}포인트가 차감됩니다." style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 60px;" maxlength="300"></textarea>
					<input type="hidden" name="send_user" value="{{send_user.id}}">
					<input type="hidden" name="chat_id" value="{{chat_id}}">
				</div>
				<input type="submit" name="writeEnd" value="보내기" id="writeEnd" class="btn_send" alt="보내기">
			</div>
		</div>
	</form>
	<div class="msg_file">
		<form action="">
			<!-- 쪽지보관아이콘 -->
			<!-- <label id="userFile"> -->
				<a href="javascript:save_content({{rooms.last.id}})">
					<span class="btn_img" title="쪽지함저장"><i class="fas fa-paperclip"></i><span style="font-size:0.7em;">메세지저장</span></span>
				</a>
			<!-- </label> -->
			<!-- 이미지아이콘 -->
			<!-- <label id="userFile">
				<span class="btn_img" title="파일첨부"><i class="far fa-image"></i></span>
				<input type="file" name="userFile_2" id="userFile" class="userFile">
			</label> -->
		</form>
	</div>
</div>
<script>
	$(document).ready(function(){
		//글쓰기 후 쓴글에 포커스
		var after_chat = {{after_chat}};
		if(after_chat!=0){
			jQuery('#chat_'+after_chat)[0].scrollIntoView();
			return false;
		}
	});
	//쪽지삭제
	function delete_content(room_id){
		if (confirm("삭제하시겠습니까?") == true){
			var url = "{% url 'msgboxs:delete' 123 %}";
			document.location.href = url.replace('123', room_id);
		}else{
			return false;
		}
	}
	//쪽지저장
	function save_content(room_id){
		console.log(room_id)
		if (confirm("보관함에 저장하시겠습니까?") == true){
			var url = "{% url 'msgboxs:save' 123 %}";
			document.location.href = url.replace('123', room_id);
		}else{
			return false;
		}
	}
	//팝업창 닫기
	$(".msg_close").click(function(){
		window.close();
	});
</script>
</body>
</html>
