{% extends "base.html" %}
{% load static %}

{% block title %} 여행사홍보 {% endblock %}

{% block content %}
<div class="container">
	<div class="sub5_top_wrap center">
		<div class="sub5_banner"><img src="{% static 'images/sub/sub5_banner.jpg' %}" alt="세부스쿨 홍보업체"></div>
		<h2 class="point_color tit">세부스쿨 홍보업체</h2>
		<p>현지세부매니저가 확인한 검증된 업체들입니다. <br>위험걱정과 거품가격없이 오직 여행에만 집중하세요!</p>
		<span class="space"></span>
		<ul class="promotion">
			<li class="selected"><a href="#">전체</a></li>
			<li><a href="#">여행사</a></li>
			<li><a href="#">호핑</a></li>
			<li><a href="#">다이빙</a></li>
			<li><a href="#">숙소</a></li>
			<li><a href="#">맛집</a></li>
			<li><a href="#">마사지</a></li>
			<li><a href="#">뷰티</a></li>
			<li><a href="#">액티비티</a></li>
			<li><a href="#">기념품</a></li>
			<li><a href="#">기타</a></li>
		</ul>
	</div><!-- sub5_top_wrap -->
	<div class="sub5_content_wrap">
		<div class="center">
			<ul class="gallery_board">
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
			</ul>
			<ul class="gallery_board">
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dd><img src="{% static 'images/sub/sub5_thum.jpg' %}" alt="썸네일"><a href="#" class="go_btn">바로가기</a></dd>
						<dd>
							<strong>[여행샷클래스] 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다 오늘의 여행 작은 글씨 소개 설명 평일반 마스터과정입니다</strong>
							<span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span> <span class="star_num">(35)</span>
							<span class="app_btn"><a href="">평가</a></span>
						</dd>
					</dl>
				</li>
			</ul>
			<div class="textboard">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col class="col1">
						<col class="col2">
						<col class="col4">
						<col class="col1">
						<col class="col1">
					</colgroup>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td><!-- 평점 있을때 -->
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span></td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> <!-- 평점 없을때 -->
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="fas fa-star"></i>4.5</span></td>
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기 길어지면  길어지면길어지면길어지면길어지면길어지면길어지면</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
					<tr>
						<td><span class="subject star_num"><i class="far fa-star"></i>0</span></td> 
						<td class="board_tit long"><a href="#">건물주 백수 남편을 둔 어떤 유부녀의 고민이야기</a><span class="new_icon"><img src="{% static 'images/common/icon_new.jpg' %}" alt="새로운 글"></span><span class="photo_cion"><img src="{% static 'images/common/img.gif' %}" alt="이미지 첨부표시"></span><span class="score">[ 3 ]</span>
						<div class="mobile_board_info">
							<span class="write_user">여섯글자글자글자</span>
							<span class="data_time">09:27</span>
							<span class="view_count">12345</span>
						</div>
						</td>
						<td><span class="level_icon"><img src="{% static 'images/common/review_20.jpg' %}" alt="레벨5아이콘"></span><span class="write_user">여섯글자글자글자글자</span></td>
						<td class="data_time"><span>09:27</span></td>
						<td class="view_count">12345</td>
					</tr>
				</table>
                <!-- 글쓰기 버튼 -->
				<div class="article_btn promotion_btn">
					<a href="board_write.html"><span><img src="{% static 'images/common/review_04.png' %}" alt="글쓰기"></span>글쓰기</a>
				</div>
				<div class="pager ten">
					<span class="pager_wrap">
						<a href="#" class="pager_prev"></a>
						<a href="#" class="selected">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
						<a href="#" class="pager_next"></a>
					</span>
				</div>
				<div class="star_poll">
					<h2>해당 상품을 평가해주세요!<i class="fas fa-times"></i></h2>
					<ul>
						<li class="chk_box">
							<input type="radio" name="gb_poll" value="1" id="star_poll_1" checked>
							<label for="star_poll_1"><span></span><i class="fas fa-star"></i>5</label>
						</li>
						<li class="chk_box">
							<input type="radio" name="gb_poll" value="2" id="star_poll_2">
							<label for="star_poll_2"><span></span><i class="fas fa-star"></i>4</label>
						</li>
						<li class="chk_box">
							<input type="radio" name="gb_poll" value="3" id="star_poll_3">
							<label for="star_poll_3"><span></span><i class="fas fa-star"></i>3</label>
						</li>
						<li class="chk_box">
							<input type="radio" name="gb_poll" value="4" id="star_poll_4">
							<label for="star_poll_4"><span></span><i class="fas fa-star"></i>2</label>
						</li>
						<li class="chk_box">
							<input type="radio" name="gb_poll" value="5" id="star_poll_5">
							<label for="star_poll_5"><span></span><i class="fas fa-star"></i>1</label>
						</li>
					</ul>
					 <a href="#" target="_blank" onclick="" class="btn_submit">확인</a>
				</div>
			</div>
			<script>
                $(document).ready(function(){
                    /* 평가 버튼 클릭 시 평가 박스 나타남 */
                    $(".gallery_board li dl dd .app_btn").click(function(){
                        $(".star_poll").show();
                        return false;
                    });
                    /* 평가박스 안에 엑스 클릭 시 사라짐 */
                    $(".star_poll h2 i").click(function(){
                        $(".star_poll").hide();
                    });
                    /* 평가박스 안에 확인 버튼 클릭 시 사라짐 */
                    $(".star_poll .btn_submit").click(function(){
                        $(".star_poll").hide();
                        return false;
                    });
                });
			</script>
		</div><!-- center -->
        <!-- Quick menu -->
        {% include 'partials/_quickmenu.html' %}
        <!-- quick_menu -->
	</div><!-- sub5_content_wrap -->
</div><!-- container -->
<div class="content_us center">
	<h2 class="tit blue_font">자자 파트너 요청</h2>
	<div class="content_form">
		<h3>파트너문의</h3>
		<span class="line"></span>
		<p>배너 / 광고 / 파트너쉽 언제든 <b class="blue_font">문의</b>주세요.</p>
		<form action="" method="" target="_blank">
			<fieldset class="cont_form_set">
				<span>연락처</span>
				<input type="text" name="" placeholder="연락처를 입력해주세요">
			</fieldset>
			<fieldset class="cont_form_set">
				<span>내&nbsp;&nbsp;&nbsp;용</span>
				<textarea name="" placeholder="내용을 입력해주세요"></textarea>
			</fieldset>
			<fieldset class="cont_form_set_submit">
				<button type="submit">전송</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}