{% extends "accounts/base_account.html" %}

{% block title %}임시비밀번호 발급{% endblock %}
{% block content %}
    <div id="new_join_bg">
        <div class="box_warp">
            <h3>임시 비밀번호 발급</h3>
            <p>해당 이메일계정으로 임시 비밀번호를 포함한 메일을 보냈습니다.</p>
            <a href="{% url 'pages:index' %}" class="btn_style">메인으로</a>
            <p class="line"></p>
            <h5>고객 센터</h5>
            <strong>메일을 받지 못한 경우는 고객센터로 문의해 주세요.</strong>
            <span class="sub_p">
            고객센터: <a href="#">바로가기</a> <br>
            운영시간: 10:30 ~ 17:00(토,일, 공휴일 후무) <br>
            이메일 문의 : cebuschool.dg@gmail.com</span>
        </div>
    </div>
{% endblock %}
