{% extends "accounts/base_account.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}회원가입 선택{% endblock %}
{% block content %}
	<!-- 회원가입 화면 {-->
	<div id="join_bg">
		<div class="box_warp">
			<h3>세부스쿨 회원가입</h3>
			<p>사용하시는 소셜 계정으로 간편하게 가입 하세요!</p>
			<ul class="sns_login">
				<li><a href="{% provider_login_url 'naver' %}"><img src="{% static 'images/login/sns_icon1.jpg' %}" alt="네이버회원가입">네이버 아이디로 회원가입</a></li>
				<li><a href="{% provider_login_url 'facebook' %}"><img src="{% static 'images/login/sns_icon2.jpg' %}" alt="페이스북회원가입">페이스북 아이디로 회원가입</a></li>
				<li><a href="{% provider_login_url 'google' %}"><img src="{% static 'images/login/sns_icon3.jpg' %}" alt="구글회원가입">구글 아이디로 회원가입</a></li>
				<li><a href="{% provider_login_url 'kakao' %}"><img src="{% static 'images/login/sns_icon4.jpg' %}" alt="카카오회원가입">카카오 아이디로 회원가입</a></li>
				<li><a href="{% url 'accounts:register_create' %}"><img src="{% static 'images/login/email_icon.jpg' %}" alt="이메일회원가입">이메일로 아이디 회원가입</a></li>
			</ul>
			<p> 회원가입에 문제가 있거나 문의가 있으시면 아래 주소로 연락주세요. <br>
			고객센터: <strong>cebuschool@cebuschool.co.kr</strong></p>	
			<a href="{% url 'accounts:login' %}" class="btn_style">아이보스 계정이 있으신가요?   로그인   ></a>
		</div>
	</div>
	<!-- } 회원가입 화면 -->
{% endblock %}