<header id="header">
    <div class="header_inner">
        <button href="index.html" id="trg_aside" class="trg_aside"></button>
        <h1 class="logo"><a href="index.html"><span class="hide">WOK</span></a></h1>
        <nav id="gnb" class="gnb">
            <ul>
                <li>
                    <a href="#self">BRAND</a>
                    <ul>
                        <li><a href="sub01.html">대표인사말</a></li>
                        <li><a href="sub02.html">웍이야기</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#self">MENU</a>
                    <ul>
                        <li><a href="sub02_setmenu.html">세트메뉴</a></li>
                        <li><a href="sub02_mainmenu.html">메인메뉴</a></li>
                        <li><a href="sub02_drinkmenu.html">드링크메뉴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#self">STORE</a>
                    <ul>
                        <li><a href="sub03.html">WOK소개</a></li>
                        <li><a href="store.html">위치안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#self">COMMUNITY</a>
                    <ul>
                        <li><a href="sub05.html">예약문의</a></li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="aside_close"></button>
            <div style="margin: 40px 0 0;">
                <a href="https://pf.kakao.com/_example" class="btn110" style="width: 100%;">카카오톡 상담</a>
            </div>
        </nav>
        <div class="gnb_bg"></div>
        <a href="https://www.facebook.com/_example/" class="util  facebook">페이스북</a>
        <div id="showGnb" class="show_gnb">
            <div class="type">
                <p class="tit">BRAND</p>
                <p class="desc">WOK는 언제나 즐겁습니다.</p>
            </div>
            <div class="type">
                <p class="tit">MENU</p>
                <p class="desc">WOK의 메뉴입니다.</p>
            </div>
            <div class="type">
                <p class="tit">STORE</p>
                <p class="desc">WOK의 매장입니다.</p>
            </div>
            <div class="type">
                <p class="tit">COMMUNITY</p>
                <p class="desc">WOK의 커뮤니티입니다.</p>
            </div>
        </div>
    </div>
</header>
