<div class="f-quick">
  <div class="f-quick_aligner">
    <ul class="f-quick_list">
      <li class="f-quick_item f-quick_item-1">
        <a href="tel:021231234" class="f-quick_link">전화상담</a>
      </li>
      <li class="f-quick_item f-quick_item-2">
        <a href="https://pf.kakao.com/_example" class="f-quick_link">카톡상담</a>
      </li>
      <li class="f-quick_item f-quick_item-3">
        <a href="sub05.html" class="f-quick_link">예약하기</a>
      </li>
      <li class="f-quick_item f-quick_item-4">
        <a href="store.html" class="f-quick_link">오시는길</a>
      </li>
      <li class="f-quick_item f-quick_item-top">
        <a href="#" class="f-quick_link">TOP</a>
      </li>
    </ul>
  </div>
</div>
