{% load static %}
<div id="header">
	<h2 class="sound_only">상단 영역</h2>
	<div id="tnb">
		<h2 class="sound_only">유틸메뉴</h2>
		<div class="center">
			<ul class="hd_day">
				<li><span>Today </span><span class="bold"> 245</span></li>
				<li><span>Total </span><span class="bold"> 1,256</span></li>
			</ul>
			{% if user.is_authenticated %}
			<ul class="hd_link">
				<li><a href="#" style="vertical-align: middle;"><img src="{% static 'images/common/main_3.png' %}" alt="레벨아이콘"> 전문가</a></li>
				<li>
					<a href="{% url 'pages:messageboxs_index' %}" onclick="openWinCenter(this.href,'newwin','width=450,height=580,status=yes,menubar=yes'); return false;">
						<i class="far fa-bell" style="color:#777; font-size: 15px;vertical-align: middle;"></i>알림<span class="update">1</span>
					</a>
				</li>
				<li class="hd_my_info"><a href="#"><div class="my_thum"><img src="{% static 'images/main/subject6.png' %}" alt="내 썸네일"></div></a>
					<ul>
						<li><div class="my_thum"><img src="{% static 'images/main/subject6.png' %}" alt="내 썸네일"></div><a href="#"><span class="your_id">아이디님</span></a></li>
						<li><ul>
								<li><a href="#">정회원</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#"><span class="icon"><i class="fas fa-seedling"></i></span>110리터</a></li>
								<li><a href="#"><span class="icon"><i class="fas fa-euro-sign"></i></span>0캐시</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#">내 게시글</a></li>
								<li><a href="#">내 댓글</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#">프로필 보기</a></li>
								<li><a href="#">정보수정</a></li>
								<li>										
									<form action="{% url 'accounts:logout' %}" method="POST" >
										{% csrf_token %}
										<input type="submit" value="로그아웃" style="display:inline-block;border:1px solid #ccc;padding: 1px 2px;background:#fff;">
									</form>							
								</li>							
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			{% else %}
			<ul class="hd_link">
				<li><a href="#" style="vertical-align: middle;"><img src="{% static 'images/common/main_3.png' %}" alt="레벨아이콘"> 전문가</a></li>
				<li><a href="{% url 'accounts:login' %}">로그인</a></li>
				<li><a href="{% url 'accounts:register_index' %}">회원가입</a></li>
			</ul>
			{% endif %}
		</div>
	</div><!-- tnb -->	
	<div id="header_wrap">	
		<h2 class="sound_only">로고</h2>
		<h1 id="logo"><a href="{% url 'pages:index' %}"><img src="{% static 'images/common/logo.png' %}" alt="세부스쿨"></a></h1>
		<div class="hd_sch_wr">
            <fieldset id="hd_sch">
				<legend>사이트 내 전체검색</legend>
                <form name="fsearchbox" method="" action="#">
                <input type="hidden" name="sfl" value="wr_subject||wr_content">
                <input type="hidden" name="sop" value="and">
                <label for="sch_stx" class="sound_only">검색어 필수</label>
				<select name="sch_select" class="sch_select">
					<option>제목1</option>
					<option>제목2</option>
					<option>제목3</option>
					<option>제목4</option>
					<option>제목5</option>
				</select>	
                <input type="text" name="stx" id="sch_stx" maxlength="20" placeholder="검색어를 입력해주세요">
					<button type="images" id="sch_submit" value="검색"><img src="{% static 'images/common/main_12.png' %}" alt="검색">
						<span class="sound_only">검색</span>
					</button>
                </form>
            </fieldset>
			<!-- 인기검색어 시작 { -->
			<section id="popular">
				<h2 class="sound_only">인기검색어</h2>
				<div class="popular_inner">
					<ul>
						<li class="item"><a href="#">테스팅</a></li>
						<li class="item"><a href="#">블락체크</a></li>
						<li class="item"><a href="#">관리자</a></li>
						<li class="item"><a href="#">셔츠</a></li>
						<li class="item"><a href="#">test</a></li>
						<li class="item"><a href="#">11</a></li>
						<li class="item"><a href="#">1234</a></li>
					</ul>
					<span class="popular_btns">
						<a href="#" class="pp-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						<a href="#" class="pp-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
					</span>
				</div>
			</section>
			<!-- } 인기검색어 끝 -->    
		</div><!-- hd_sch_wr -->
		<div class="hd_banner">
			<a href="{{ banner_top.link_url }}"><img src="{{ banner_top.photo.url }}" alt="{{ banner_top.description }}"></a>
		</div>

		<!-- 모바일 폴다운 메뉴 -->
		<div class="nav_wrapper"> 
			<div id="m_logo" class="menu_center">
				<a href="#">
					<img src="{% static 'images/common/m_logo.png' %}" style="width:130px;" alt="세부스쿨">
				</a>
			</div><!-- m_logo -->

			<!-- 로그인후 -->
			{% if user.is_authenticated %}
			<div class="util_icon">
				<ul>
					<li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="{% url 'pages:messageboxs_index' %}" onclick="openWinCenter(this.href,'newwin','width=300,height=450,status=yes,menubar=yes');return false"><i class="far fa-envelope"></i></i></a></li>
					<li><a href="{% url 'pages:messageboxs_index' %}" onclick="openWinCenter(this.href,'newwin','width=300,height=450,status=yes,menubar=yes');return false"><i class="fas fa-bell"></i><span class="update">1</span></a></li>
				</ul>
			</div>
			<div class="spinner-master">
				<input type="checkbox" id="spinner-form" />
				<label for="spinner-form" class="spinner-spin">
				<div class="spinner diagonal part-1"></div>
				<div class="spinner horizontal"></div>
				<div class="spinner diagonal part-2"></div>
				</label>
			</div>
			<!-- 로그인 후 폴다운 메뉴 화면 -->
			<ul class="m_nav">
				<li><div class="my_thum"><img src="{% static 'images/main/subject6.png' %}" alt="내 썸네일"></div><a href="#"><span class="your_id">아이디님</span></a></li>
				<li>
					<ul>
						<li><a href="#">정회원</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li><a href="#"><span class="icon"><i class="fas fa-seedling"></i></span>110리터</a></li>
						<li><a href="#"><span class="icon"><i class="fas fa-euro-sign"></i></span>0캐시</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li><a href="#">내 게시글</a></li>
						<li><a href="#">내 댓글</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li><a href="#">프로필 보기</a></li>
						<li><a href="#">정보수정</a></li>
						<li>
							<form action="{% url 'accounts:logout' %}" method="POST" >
								{% csrf_token %}
								<input type="submit" value="로그아웃" style="display:inline-block;border:1px solid #ccc;padding: 1px 2px;background:#fff;">
							</form>	
						</li>
					</ul>
				</li>
			</ul>

		<!-- 로그인 전 -->
		{% else %}
		<div class="util_icon">
			<ul>
				<li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
			</ul>
		</div>
		<div class="spinner-master">
			<input type="checkbox" id="spinner-form" />
			<label for="spinner-form" class="spinner-spin">
			<div class="spinner diagonal part-1"></div>
			<div class="spinner horizontal"></div>
			<div class="spinner diagonal part-2"></div>
			</label>
		</div>
		<!-- 로그인 전 폴다운 메뉴 화면 -->
		<ul class="m_nav m_nav_login">
			<li><a href="{% url 'accounts:login' %}">로그인</a></li>
			<li><a href="{% url 'accounts:register_index' %}">회원가입</a></li>
		</ul>
		{% endif %}
		</div>
	</div><!-- header_wrap -->
	
	{% include 'partials/_navbar.html' %}
</div><!-- header -->