{% load static %}
<div class="bd_hot_keyword">
  <ul id="bd_ticker">
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">호핑후기<!--<i class="fas fa-external-link-alt"></i>--></span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">가족여행추천</span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">세부맛집</span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">힐링여행</span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">다이빙추천</span></a></li>
  </ul>
  <span><i class="fas fa-chevron-down"></i></span>
<div class="bd_hot_keyword_open">
  <h2 class="tit">HOT 검색어</h2>
  <ul>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">호핑후기<!--<i class="fas fa-external-link-alt"></i>--></span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">가족여행추천</span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">세부맛집</span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">힐링여행</span></a></li>
    <li><a href="#"><img src="{% static 'images/common/review_13.jpg' %}" alt=""><span class="keyword">다이빙추천</span></a></li>
    <!-- <li class="live_clock"><a href="#">2019.04.04 11:32:00 기준</a></li> -->
  </ul>
</div>
</div><!-- bd_hot_keyword -->
